html, body {
  background-color: #111;
  /*font-family: Calibri, Arial, sans-serif;*/
  color: #E4E4E4;
}

.jumbotron {
  background: url(../sakset.jpg) center no-repeat;
  color: #f5f5f5;
  text-shadow: 1px 0px 0px #757575;
}

.table>thead>tr>th {
  border-color: #222;
}
.table>tbody>tr>td {
  border-color: #1f1f1f;
}

.queue-item {
    display: inline-block;
    width: 5px;
    height: 1em;
    vertical-align: middle;
    border: 1px solid #aaa;
}
.queue-cardless {
    background-color: rgb(119, 89, 67);
}
.queue-white {
    background-color: #FFF;
}
.queue-silver {
    background-color: rgb(175, 179, 189);
}
.queue-gold {
    background-color: rgb(240, 213, 61);
}
.queue-platinum {
    background-color: #D3D1DB;
}
.hide {
  display: none;
}

#shop-data {
  width: 100%;
  margin: 5px 0;
}
.shop-row {
  /*outline: 1px solid red;*/
  box-sizing: content-box;
  width: 100%;
  height: 2em;
  line-height: 2em;
  font-size: 24px;
  border-bottom: 1px solid #222;
  position: relative;
}
.shop-row.closed .shop-name {
  color: #7A7A7A;
  font-style: italic;
}
.queue-container {
  position: absolute;
  right: 0px;
  top: 0px;
}
.queue-box {
  float: right;
  width: 2em;
  text-align: center;
  margin-left: 1px;
  color: rgba(0,0,0,0.6);
}
.shop-opening-hours {
  font-size: 0.5em;
  color: #7A7A7A;
}

.shop-info {
  margin-right: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (max-width: 768px) {
  .shop-row {
    font-size: 1em;
  }

}



